<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>74430796003-081hu2oqte6dqiv35afoukp745gc9iid.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.74430796003-081hu2oqte6dqiv35afoukp745gc9iid</string>
	<key>API_KEY</key>
	<string>AIzaSyB2TbmC5GYz61pABUScQQi-OjsgVzWar2E</string>
	<key>GCM_SENDER_ID</key>
	<string>74430796003</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>WafMan.TSAApp</string>
	<key>PROJECT_ID</key>
	<string>aceofclubs-2a8ed</string>
	<key>STORAGE_BUCKET</key>
	<string>aceofclubs-2a8ed.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:74430796003:ios:4cc5821729bbb32a</string>
	<key>DATABASE_URL</key>
	<string>https://aceofclubs-2a8ed.firebaseio.com</string>
</dict>
</plist>
